<%# locals: (card_grant:, label: "") %>

<% totu_tooltip = if label.presence
                    label
                  elsif policy(card_grant).toggle_one_time_use?
                    if card_grant.one_time_use
                      "Allow for unlimited authorizations on this card"
                    else
                      "Lock the card after one purchase"
                    end
                  else
                    "You don't have permission to perform this action"
                  end %>
<%= link_to toggle_one_time_use_event_card_grant_path(id: card_grant.hashid, event_id: @event.slug),
            method: :post,
            class: "btn btn--list-item",
            disabled: !policy(card_grant).toggle_one_time_use? do %>
  <%= inline_icon "private", size: 20 %>
  <div>
    <p><%= card_grant.one_time_use ? "Disable" : "Enable" %> one time use</p>
    <p class="text-sm opacity-60"><%= totu_tooltip %></p>
  </div>
<% end %>
