<% title "Subsidiaries of #{@event.name}" %>
<% page_sm %>
<%= render "events/nav", selected: :sub_organizations %>

<% if organizer_signed_in? %>
  <%= turbo_stream_from @event, :scoped_tags %>
<% end %>

<h1 class="heading flex">
  <span class="flex-grow">Create a sub-organization</span>
</h1>

<%= render "suborganizations/form", event: @event %>
