<p>
  Announcements are a feature where you can send out updates to users following your organization.
  You are receiving this message because you have auto-scheduled monthly announcements enabled in your organization settings.
  For more information on monthly announcements, check out <%= link_to "our blog post", "https://blog.hcb.hackclub.com/posts/monthly-announcements" %>!
</p>
