<%# locals: (scoped_tag:, subevent:, streamed: false) %>

<span class="badge m-0 mb-1 bg-muted" data-scoped-tag="<%= scoped_tag.id %>">
  <%= scoped_tag.name %>

  <% if local_assigns[:streamed] || policy(scoped_tag).toggle_tag? %>
    <%= button_to toggle_tag_event_scoped_tag_path(subevent, scoped_tag), class: "p0 line-height-0 bg-transparent border-none cursor-pointer link-reset", form_class: "line-height-0", form: { "data-turbo" => "true" } do %>
      <%= inline_icon "view-close", size: 16 %>
    <% end %>
  <% end %>
</span>
