<p>Hello <%= @payment.payee.preferred_name %>,</p>

<%= render partial: "initial_message", locals: { payment: @payment } %>

<p>
  In order to process this payment, we need your tax information.
  Please fill out your information to complete this step!
</p>

<p>
  If you have any questions about this payment, please contact <%= @payment.event.name %>.
</p>

<p>
  Sincerely,
  <br><br>
  The HCB Team
</p>

<p><i class="muted"><%= @payment.event.name %> is fiscally sponsored by The Hack Foundation (d.b.a. HCB), a 501(c)(3) nonprofit (EIN: 81-2908499).</i></p>
