<%# locals: (event_follows:) %>

<section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="edit_followers">
  <%= modal_header "Followers" %>
  <ul class="grid gap-0 grid-cols-1 text-left w-full mt-2">
    <% event_follows.each do |event_follow| %>
      <li class="overflow-visible flex flex-row justify-between items-center gap-2 py-1 last:!border-none !border-neutral-200 dark:!border-gray-700" style="border-bottom: 1px solid">
        <span class="w-full flex gap-2 items-center align-middle">
          <%= user_mention event_follow.user %>
          <div class="flex-grow"></div>
          <%= pop_icon_to "member-remove",
                          follow_path(event_follow),
                          class: "error bg-transparent",
                          data: {
                            turbo_frame: "_top",
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure you want to remove this follower?",
                          },
                          disabled: !policy(event_follow).destroy? %>
        </span>
      </li>
    <% end %>
  </ul>
</section>
