<%# locals: (auto_open: false) %>

<section id="request_call_modal" class="modal modal--scroll max-w-md bg-snow" data-behavior="modal" role="dialog" data-modal-auto-open="<%= auto_open.to_s %>" data-modal="request_call_modal">
  <%= modal_header("Schedule onboarding call") %>
  <p>If you have questions or would like to go over the HCB plaform with a member of our team, feel free to request a call!</p>

  <%= button_to "Request", request_call_event_path(@event), class: "left bg-success btn w-full", method: :post %>
</section>
