<%= turbo_frame_tag :merchants_filter do %>
  <% @merchants.each do |merchant| %>
    <% merchant_params = request.query_parameters.except("ledger").merge("merchant" => merchant[:id]) %>
    <% merchant_path = params[:ledger] ? event_ledger_path(@event, merchant_params) : event_transactions_list_path(@event, merchant_params) %>
    <div class="flex items-center">
      <%= link_to(merchant[:name], merchant_path, class: "flex-auto menu__action #{"menu__action--active" if @merchant == merchant[:id]}", data: { turbo_prefetch: "false" }) %>
    </div>
  <% end %>
<% end %>
