<p>
  Hey <%= @request.requester.name %>,
</p>

<p>
  This email is to inform you that the <%= @request.link.event.name %> team has decided to deny your request to join.
</p>

<p>
  If you have any questions, please contact <%= @request.link.event.name %>.
</p>

<p>
  Sincerely,
  <br><br>
  The HCB Team
</p>
