<% title "Invite links for #{@event.name}" %>
<%= render "events/nav", selected: :team %>

<h1 class="heading">Create a new invite link</h1>

<%= render partial: "organizer_position_invite/links/form", locals: { event: @event } %>
