<%# locals: (card_grant:) %>

<div class="statset mb-2">
  <div class="stat">
    <span class="stat__label">Balance remaining</span>
    <span class="stat__value"><%= card_grant.balance.format(symbol: false) %></span>
  </div>
</div>
