<%= render "application/callout", type: "warning", title: "Card Grant Policies" do %>
  <p class="mt1 mb1">Card grants may not be used for payroll/compensation, reimbursements, or top-ups funded by the card grant recipient.</p>
<% end %>
