<%= render "application/callout",
           type: "warning",
           icon: "wise",
           title: "Wise transfers may take longer than expected",
           class: "my-4" do %>
  <p class="mb-0">
    We are currently experiencing delays with the Wise integration. We're
    working with Wise to resolve the issue.
    Based on their timeline, we're hoping to have Wise transfers back to normal
    around <strong>February 18th</strong>.
    <br>
    If you have an urgent transfer, please reach out to support and we can
    discuss alternative options.
  </p>
<% end %>
