<%# locals: (active:, unlink_path:, disabled:) %>

<div class="card pb0 mb2">
  <div class="card__banner card__banner--top flex justify-between items-center integration-discord">
    <div class="flex gap-4 items-center">
      <img src="https://hc-cdn.hel1.your-objectstorage.com/s/v3/33b33ecc0ada9fe45d62f01e3511bbe3f5a0b195_Discord-Symbol-White.png" alt="Discord logo" class="w-10">
      <h3 class="h1 pt2 pb2 my0">Discord</h3>
    </div>
    <% if active %>
      <%= link_to(
            "Unlink",
            unlink_path,
            data: { turbo_frame: "_top" },
            class: "btn bg-primary",
            disabled:
          ) %>
    <% else %>
      <%= link_to(
            "Setup",
            "#",
            data: { turbo_frame: "_top", behavior: "modal_trigger", modal: "discord_integration" },
            class: "btn bg-blue",
            disabled:
          ) %>
    <% end %>
  </div>
  <p>
    Install the HCB Discord bot to check your balance, view recent transactions, open reimbursement reports, and more from your team's Discord server!
  </p>
</div>

<section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="discord_integration">
  <%= yield %>
</section>
