@import '../variables';

.dev-banner {
  $col1: rgba(map-get($palette, info), 0.15);
  $col2: rgba(map-get($palette, info), 0.2);

  width: 100%;
  text-align: center;
  padding: 0 1rem;
  // background-color: rgba(map-get($palette, primary), 0.2);
  backdrop-filter: blur(2rem);

  background-image: linear-gradient(
    135deg,
    $col1 25%,
    $col2 25%,
    $col2 50%,
    $col1 50%,
    $col1 75%,
    $col2 75%,
    $col2 100%
  );
  background-size: 250px 250px;

  &--info {
    background-color: rgba(map-get($palette, info), 0.2);
    border-color: map-get($palette, info);
  }
}
