@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  --card-bg: #ffffff;
  background-color: $white;
  box-shadow: var(--shadow-border-sm);
  padding: 1rem;
  border-radius: var(--radius-lg);
  overflow: hidden;
  transition: 0.125s ease-in-out;
  transition-property: transform, box-shadow;

  &.card--breakdown {
    box-shadow: var(--shadow-sm);
    border: 1px solid rgba(200, 200, 200, 0.3);
  }

  &.card--sunken {
    box-shadow: none;
    background-color: rgba(map-get($palette, smoke), 0.75);
  }

  &.b--warning {
    box-shadow:
      0 0 2px 0 rgba(map-get($palette, warning), 0.0625),
      0 4px 8px 0 rgba(map-get($palette, warning), 0.125);
  }

  &.b--info {
    box-shadow:
      0 0 2px 0 rgba(map-get($palette, info), 0.0625),
      0 4px 8px 0 rgba(map-get($palette, info), 0.125);
  }

  &.card--hover {
    transition: filter 0.125s ease;
    cursor: pointer;
  }
  :not(.draggable-source--is-dragging) > &.card--hover:hover,
  &.card--hover:focus {
    transition-duration: 0s;
    filter: brightness(0.94);

    [data-dark='true'] & {
      filter: brightness(1.05);
    }

    &:active {
      transition-duration: 0.125s;
      filter: brightness(0.93);

      [data-dark='true'] & {
        filter: brightness(1.1);
      }
    }
  }

  &.card--background-image,
  .card__banner--top.card--background-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:
      linear-gradient(
        rgba(255, 255, 255, 0.75) 0%,
        rgba(255, 255, 255, 0.95) 90%
      ),
      var(--bg-image) !important;

    html[data-dark='true'] & {
      background-image:
        linear-gradient(rgba(37, 36, 41, 0.5) 0%, rgba(37, 36, 41, 0.85) 75%),
        var(--bg-image) !important;
    }
  }
}

.hcb-code {
  @extend .card;
  @apply pb-0 mb-1 mt-3 shadow-none;
  border: 1px solid rgba(200, 200, 200, 0.3);
  box-shadow: var(--shadow-sm);
}

.hcb-code--info {
  @extend .details;
  padding: 0.75rem 0;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.hcb-code--details {
  @extend .details-horiz;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(200, 200, 200, 0.3);
  margin: 0 calc(-1rem + 1px);
  padding: 0.75rem 1rem;
  background-color: rgba(245, 245, 245, 0.75);

  & strong {
    @extend .eyebrow;
    margin-top: 0 !important;
    margin-bottom: 0.1rem !important;
    opacity: 0.7 !important;
    white-space: nowrap !important;
  }

  html[data-dark='true'] & {
    background-color: rgba(50, 50, 55, 0.5);
  }

  & p {
    flex-direction: column;
  }

  @media (max-width: 640px) {
    gap: 10px;
  }
}

.hcb-code--heading .badge {
  margin: 0px;
}

.hcb-code--footer {
  padding: 0.75rem 1rem;
  font-style: italic;
  text-align: center;
  font-size: 0.875rem;
  margin-left: -16px !important;
  margin-right: -16px !important;
  border-top: 1px solid rgba(200, 200, 200, 0.3);
  background-color: rgba(245, 245, 245, 0.75);
  html[data-dark='true'] & {
    background-color: rgba(50, 50, 55, 0.5);
  }
}

.draggable-mirror {
  z-index: 999;
}

.draggable-source--is-dragging .card,
.draggable-source--is-dragging.card {
  opacity: 0.5;
}

a.card {
  text-decoration: none;
}

.card h1,
.card h2 {
  margin-right: 0;
  width: 100%;
}

.card__darker {
  background: darken(map-get($palette, snow), 1%);
}

.card__banner {
  margin: 0 -1rem;
  padding: 0.75rem 1rem;
  line-height: 1.25;
}
.card__banner--top {
  margin-top: -1rem;
  margin-bottom: 1rem;
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
}
.card__banner--bottom {
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.error-card {
  @extend .card;
  max-width: 32rem;
  border: 1px solid map-get($palette, error);
  margin-bottom: 1.5rem;
  box-shadow:
    0 0 2px 0 rgba(map-get($palette, error), 0.025),
    0 4px 8px 0 rgba(map-get($palette, error), 0.125);

  h2 {
    color: map-get($palette, error);
    border-bottom-color: map-get($palette, primary);
    margin-top: 0;
    font-size: 1.25rem;
  }

  ul {
    margin-bottom: 0;
    padding-left: 1.5rem;
  }
}

.banner {
  @extend .card;
  max-width: 36rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  text-align: center;
  text-wrap: balance;
  line-height: 1.25;
}
.banner--archived {
  background-color: lighten(map-get($palette, pending), 40%);
  border: 1px solid map-get($palette, pending);
  color: map-get($palette, slate);
  a {
    color: inherit;
  }
  .mention {
    margin: 0 0.125rem;
    color: inherit;
    font-weight: inherit;
  }
}

.flash {
  @extend .card;
  border: 1px solid currentColor;
  font-weight: 500;
  padding: 0.5rem 0.75rem 0.5rem 1rem;

  &.success {
    color: map-get($palette, success);
    background-color: rgba(map-get($palette, success), 0.125);
  }
  &.info {
    color: map-get($palette, info);
    background-color: rgba(map-get($palette, info), 0.125);
  }
  &.error {
    color: map-get($palette, error);
    background-color: rgba(map-get($palette, error), 0.125);
  }
}

.card--promo {
  background-size: cover;
  background-position: center center;
  color: white !important;
}

.card--sunset {
  background-image: url('https://hc-cdn.hel1.your-objectstorage.com/s/v3/760076d21af80460_image.png');
}

#card-pin {
  width: 64px;
}
.hcb-code--details-admin-tool p {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
