.dock {
  flex-direction: column;

  display: flex;
  width: 100%;
  max-width: 100%;

  hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

details.dock {
  & summary {
    display: flex;
  }

  & > a {
    margin-left: 36px;
    width: calc(100% - 36px);
    border-radius: var(--radius-sm);
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  @media (min-width: 48em) {
    &[open] {
      padding-bottom: 2rem;
    }
  }

  &::details-content {
    transition:
      content-visibility 0.125s allow-discrete,
      opacity 0.125s,
      block-size 0.125s;
  }
}

summary > svg,
summary.dock__item {
  padding-right: 0.5rem;

  &::marker {
    content: '';
  }
  &::-webkit-details-marker {
    display: none;
  }

  & .drawer-chevron {
    padding: 0px;
    margin-left: 0.5rem;
    color: map-get($palette, muted);
  }
  details[open] & .drawer-chevron {
    transform: rotate(180deg);
  }
}

.drawer-chevron {
  transition: transform 0.125s;
}

.dock__section {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: map-get($palette, muted);
  margin-top: 1rem;
  line-height: 1.5;

  &:empty {
    display: none;
  }
}

.dock__item {
  color: inherit !important;
  font-size: 0.875rem;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  width: 100%;
  flex-shrink: 1;
  flex: 1;
  display: inline-flex;
  align-items: center;

  & .dock__item-icon-wrapper {
    position: relative;
    width: 28px;
    height: 28px;
    margin-right: 0.5rem;
  }

  svg:first-child,
  & .dock__item-icon-wrapper svg {
    fill: map-get($palette, muted);
    width: 28px;
    height: 28px;
    margin-right: 0.5rem;
  }

  &.dock__item--selected svg {
    fill: map-get($palette, primary);
  }

  &[aria-current='page'] {
    color: map-get($palette, primary) !important;

    svg {
      fill: map-get($palette, primary);
    }
  }

  padding: 0.25rem 0.5rem;

  details &:not(:has(svg)) {
    padding-left: 0.75rem;
    margin-left: 1.75rem !important;
  }

  border-radius: var(--radius-lg);

  @media (min-width: 768px) {
    cursor: pointer;
    line-height: 1.75;
    transition: all 0.125s ease-in-out;
    color: $black;
    line-height: 1.25;
    margin-bottom: 2px;
    color: $black;
    padding: 0.25rem;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
      transition-duration: 0s;
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &[aria-current='page'] {
      background-color: rgba(map-get($palette, primary), 0.1);
      &:hover {
        background-color: rgba(map-get($palette, primary), 0.15);
      }
      &:active {
        background-color: rgba(map-get($palette, primary), 0.2);
      }
    }
  }

  .dock__item--badge {
    position: absolute;
    top: -0.3125rem;
    right: -3px;
    line-height: initial;
    color: white;
    font-size: 0.75rem;
    font-variant-numeric: tabular-nums;
    min-width: 1rem;
    min-height: 1rem;
    text-align: center;
    box-shadow: 0 0 0 2px $snow;
    border-radius: 999px;
    background-color: map-get($palette, primary);
    padding: 0 0.2rem;
    transition: box-shadow 0.125s ease-in-out;

    html[data-dark='true'] & {
      box-shadow: 0 0 0 2px $dark;
    }
  }

  &.disabled {
    color: map-get($palette, muted);
    cursor: not-allowed;
  }
}

.activity {
  display: none;
}

@media screen and (min-width: 56em) and (min-height: 640px) {
  body:has(.activity) {
    padding-bottom: 0rem;
  }

  .activity {
    display: block;
  }

  .container:has(.activity) > .app__sidebar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }

  .container:has(.activity) > .app__content {
    padding-bottom: 2rem;
  }
}
