[data-tabs-target='btn'] {
  background: transparent;
  border: none;
  padding: 0.2rem;
  cursor: pointer;

  &.active {
    color: $blue;
    font-weight: 600;
  }

  &:first-child {
    margin-left: 0.2rem;
  }

  &.bordered {
    font-family: inherit;
    color: inherit;
    border-bottom: 2px solid transparent;
    padding: 0.5rem 0.7rem;

    &.active {
      border-color: map-get($palette, primary);
      color: map-get($palette, primary);
    }
  }
}

.menu__divider--filter-tab {
  @extend .menu__divider;
  margin-bottom: 0.2rem !important;
  margin-top: 0.3rem !important;
}
