[data-tabs-target='btn'] {
  background: transparent;
  border: none;
  height: 24px;
  border-radius: var(--radius-sm);
  padding: 0 0.4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  transition: background-color 0.125s ease;
  white-space: nowrap;
  opacity: 0.6;

  &:hover {
    background-color: rgba(200, 200, 200, 0.2);
    transition-duration: 0s;
  }

  &:active {
    background-color: rgba(200, 200, 200, 0.3);
    transition-duration: 0.125s;
  }

  &.active {
    color: map-get($palette, info);
    font-weight: 500;
    opacity: 1;
  }

  &.bordered {
    font-family: inherit;
    color: inherit;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    padding: 0.5rem 0.7rem;

    &.active {
      border-color: map-get($palette, primary);
      color: map-get($palette, primary);
    }
  }
}

.menu__divider--filter-tab {
  @extend .menu__divider;
  margin-top: 0.3rem !important;
  margin-bottom: 0.5rem !important;
}
