.filterbar {
  box-shadow: var(--shadow-border);
  border-radius: var(--radius-md);
  height: 36px;
  overflow-x: auto;
  display: flex;
  max-width: 100%;
}

.pagination a,
.filterbar__item {
  border-radius: var(--radius-md);
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.75;
  align-items: center;
  padding: 0.5rem 1rem;
  height: 100%;
  position: relative;
  text-decoration: none;
  outline-color: map-get($palette, info);
  transition:
    color 0.125s ease-in-out,
    background-color 0.125s ease-in-out,
    box-shadow 0.125s ease-in-out;

  &:hover,
  &:focus {
    color: map-get($palette, slate);
    background-color: map-get($palette, white);
    box-shadow: var(--shadow-border-md);
  }

  &[aria-current='page'],
  &[aria-selected='true'] {
    color: map-get($palette, slate);
    background-color: map-get($palette, white);
    box-shadow: var(--shadow-border-md);
    z-index: 1;
    font-weight: 600;

    &:hover,
    &:focus {
      box-shadow: var(--shadow-border-md);
    }
  }
}
