input[type='date'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
.input,
select,
textarea {
  @apply dark:border-gray-700 border-gray-200;
  -webkit-appearance: none;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid rgba(200, 200, 200, 0.3);
  color: inherit;
  display: block;
  font-size: 1rem;
  min-height: 36px;
  margin-left: 0;
  outline: 0;
  padding: 0.25rem 0.5rem;
  position: relative;
  width: 100%;
  max-width: 24rem;

  &:focus-within {
    border-color: map-get($palette, info);
    box-shadow: 0 0 0 3px rgba(map-get($palette, info), 0.25);
  }

  &[readonly],
  &[disabled] {
    cursor: no-drop;
    color: map-get($palette, slate);
  }

  &::placeholder {
    color: map-get($palette, divider);
  }
  &::-moz-placeholder {
    color: map-get($palette, divider);
  }
}
.input--sm,
.input-group.input--sm input {
  // 1px is added by border
  min-height: 31px;
}

.input-group {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;

  & input {
    border: 0;
    padding-left: 0.25rem;
    max-width: none;
    &:focus {
      box-shadow: none;
    }
  }

  & svg {
    @extend .muted;
  }
}

[data-dark='true'] option {
  background-color: $darkless;
}

select {
  min-height: 2.5rem;
  padding: 0.25rem 0.5rem;
}

input[type='file'] {
  color: inherit;
  display: block;
  font-size: 1rem;
  max-width: 100%;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.field--fileupload {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  .field--fileupload__label {
    white-space: nowrap;
    display: block;
    padding: 5px 0;

    display: block;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 6px;

    color: map-get($palette, info);
    border: 1px dashed map-get($palette, info);

    font-size: 0.875rem;
    font-weight: 600;

    letter-spacing: 0;
    line-height: 1.5;
  }

  .field--fileupload__field {
    &::file-selector-button {
      display: none;
    }

    color: $muted;
  }

  &:has([disabled]) {
    .field--fileupload__label,
    .field--fileupload__field {
      color: map-get($palette, slate);
      cursor: no-drop;
    }

    .field--fileupload__label {
      transition: none;
      color: $muted;
      border-color: map-get($palette, smoke);

      &:hover {
        transform: none;
      }
    }
  }
}

.field--image-upload {
  label:not(.previewing) {
    outline-offset: -10px;
    outline: 3px dashed $muted;
  }

  label {
    background-color: $smoke;
    color: $muted;
    border-radius: 0.5rem;
    padding: 1rem;
    height: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    html[data-dark='true'] & {
      background-color: $slate;
    }
  }

  input[type='file'] {
    display: none;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'],
.input--narrow {
  max-width: 16rem !important;
}

input[type='search'] {
  padding-left: 1rem;
}

input[type='search']::-webkit-search-decoration {
  display: none;
}

.field_with_errors {
  label {
    font-weight: 500;
    color: map-get($palette, error);
  }

  input {
    border-color: map-get($palette, error);
  }
}

.field {
  margin-bottom: 1rem;
}

.field--money {
  display: flex;
  align-items: center;

  &:before {
    content: '$';
    font-weight: 600;
    color: map-get($palette, muted);
    display: inline-block;
    width: 1rem;
  }

  input {
    max-width: 15rem !important;
  }
}

input[type='checkbox'] {
  accent-color: map-get($palette, info);
}

.field--checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.field--checkbox--switch {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  width: 60px;
  height: 34px;

  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  & .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
    background-color: #e8e8e9;

    [data-dark='true'] & {
      background-color: #3f4245;
    }
  }

  & .slider:before {
    position: absolute;
    content: '';
    height: 28px;
    width: 28px;
    left: 3px;
    bottom: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.125);
    transition: 0.2s;
    border-radius: 999px;
    background-color: #fff;
  }

  & input:checked + .slider {
    background-color: $red;
  }

  & input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);

    [data-dark='true'] & {
      background-color: #fff;
    }
  }

  &:active .slider:before {
    width: 34px;
  }

  &:active input:checked + .slider:before {
    transform: translateX(20px);
  }
}

.field input[type='date'] {
  height: 32px;
}

.field--radiobox {
  display: flex;
  align-items: center;

  label {
    margin-right: 0.5rem;
  }
}

.actions {
  margin-top: 1.5rem;
}

label {
  display: block;
  color: map-get($palette, black);
  font-weight: 500;
}

$select: url('data:image/svg+xml,<svg width="18" height="12" viewBox="0 0 18 12" fill="%238492a6" xmlns="http://www.w3.org/2000/svg"><path d="M7.35109 10.836C7.76709 11.15 8.32908 11.5 9.00108 11.5C9.67108 11.5 10.2351 11.15 10.6511 10.836L10.6531 10.834C12.8591 9.136 14.5771 6.878 16.2491 4.68L16.2631 4.66C16.5431 4.294 16.8211 3.93 17.0991 3.568C17.7071 2.782 17.6171 1.614 16.8731 0.948C16.1091 0.262 14.9671 0.382001 14.3411 1.19C14.0631 1.55 13.7871 1.914 13.5111 2.276C12.1011 4.126 10.7031 5.96 9.00108 7.428C7.32308 5.978 5.89509 4.11 4.48909 2.27C4.21109 1.908 3.93508 1.546 3.65908 1.19C3.03308 0.38 1.89109 0.262 1.12709 0.948C0.385086 1.614 0.291086 2.78 0.901087 3.568L0.903086 3.57L1.18509 3.936L1.30508 4.094C1.44108 4.272 1.57908 4.45 1.71508 4.63L1.71982 4.63621C3.39444 6.8304 5.17513 9.16358 7.34708 10.834L7.35109 10.836Z"/></svg>');

.btn.menu__toggle:not(.menu__toggle--arrowless),
select,
.input.input--select {
  background-image: #{$select};
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 0.5rem;
}
.btn.menu__toggle:not(.menu__toggle--arrowless) {
  background-position: right 0.875rem center;
  padding-right: 1.75rem !important;
}

// rails date(time) inputs
select[name$='i)]'] {
  width: 4.5rem;
  display: inline-block;
  .onboarding & {
    flex: 1;
    width: auto;
    &:first-child {
      flex: 2;
    }
  }
}

// rails month inputs should be wider
select[id$='_2i'] {
  width: 9.125rem; // magic number, makes form page_sm wide
}

fieldset,
legend {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

.field--options {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  max-width: 24rem;

  &.trio {
    grid-template-columns: repeat(3, 1fr);
    max-width: 36rem;
  }

  strong {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  input,
  .field_with_errors:has(> input) {
    display: none;
  }

  input:checked + label {
    box-shadow:
      0 0 0 1px var(--bg-color),
      0 0 0 3px map-get($palette, info);
  }
}

.btn--form-option,
.field--options label,
.field_with_errors > label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 1rem;
  border-radius: var(--radius-md);
  text-align: center;
  line-height: 1.25;
  color: map-get($palette, info);
  background-color: rgba(map-get($palette, accent), 0.125);

  &:hover,
  &:focus {
    color: map-get($palette, info);
  }

  html[data-dark='true'] & {
    color: map-get($palette, white);
  }

  svg {
    width: 24px;
    height: 24px;
  }
}
.field--options input:disabled + label,
.field_with_errors:has(> input:disabled) + .field_with_errors:has(> label) {
  opacity: 0.5;
  cursor: default;
}
.btn--form-option--disabled,
.field_with_errors:has(> input:checked)
  + .field_with_errors:has(> label)
  > label {
  background-color: rgba(map-get($palette, accent), 0.12);
  color: rgba(map-get($palette, info), 0.7);

  html[data-dark='true'] & {
    color: rgba(map-get($palette, white), 0.7);
  }

  cursor: default;
  pointer-events: none;
  user-select: none;
}

// Comments input
textarea.card {
  max-width: none;
  border: 0;
  transition: 0.2s ease box-shadow;

  &:focus {
    box-shadow:
      var(--shadow-border-md),
      inset 0 0 0 1px map-get($palette, info);
  }
}

input.fit {
  max-width: 100% !important;
}

form.grid--split,
form section.grid--split {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.75rem !important;

  .field {
    grid-column: span 2;
    margin-bottom: 0;
  }
}

.grid__half {
  grid-column: span 1 !important;
}

// Inspired by https://dev.to/madsstoumann/using-a-single-input-for-one-time-code-352l

input:where([data-behavior='otp_input']) {
  --otp-digits: 6;
  --otp-ls: 2.3ch;
  --otp-gap: 1.25;

  /* private consts */
  --_otp-bgsz: calc(var(--otp-ls) + 1ch);
  --_otp-digit: 0;

  all: unset;
  background:
    linear-gradient(
      90deg,
      rgba(51, 142, 218, 0.125) calc(var(--otp-gap) * var(--otp-ls)),
      transparent 0
    ),
    linear-gradient(
      90deg,
      #252429 calc(var(--otp-gap) * var(--otp-ls)),
      transparent 0
    );

  background-position:
    calc(var(--_otp-digit) * var(--_otp-bgsz)) 0,
    0 0;
  background-repeat: no-repeat, repeat-x;
  background-size: var(--_otp-bgsz) 100%;

  caret-color: #ddcfcf;
  caret-shape: block;

  clip-path: inset(0% calc(var(--otp-ls) / 2) 0% 0%);

  font-family: ui-monospace, monospace;
  font-size: 2em !important;
  inline-size: calc(var(--otp-digits) * var(--_otp-bgsz));
  letter-spacing: var(--otp-ls);
  padding-block: 1ch;
  padding: 0.2em 0px !important;
  padding-inline-start: calc(
    ((var(--otp-ls) - 0.9ch) / 2) * var(--otp-gap)
  ) !important;

  border-radius: 0px !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
  color: inherit !important;
}

.dropdown-button__menu {
  width: 100% !important;

  position: absolute !important;
  top: 110%;
  left: 0px;
  border-radius: 0.75rem;
  padding: 0.3rem !important;

  display: none;
  opacity: 0;
  z-index: 10;
  margin-top: 8px;

  [data-dark='true'] & {
    background-color: $darkless;
  }
}

.dropdown-button__menu div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  border-radius: inherit;
}

.dropdown-button__menu input {
  display: none;
}

.dropdown-button__menu label {
  padding: 0.75rem 0.75rem !important;
  border-radius: inherit;
}

.dropdown-button__menu label p {
  margin: 3px 0px;
}

.dropdown-button__menu input:checked + label {
  background-color: rgba(51, 142, 218, 0.125);
  color: inherit;

  [data-dark='true'] & {
    background-color: darken(map-get($palette, info), 15%);
  }
}

.dropdown-button__container {
  display: flex;
}
