.homepage-transaction {
  display: flex;
  color: inherit !important;
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  cursor: pointer;

  &.clickable {
    @apply hover:transition-none transition-colors;

    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
      &:active {
        background: rgba(0, 0, 0, 0.07);
      }
    }

    [data-dark='true'] &:hover {
      background-color: rgba(255, 255, 255, 0.03);
      &:active {
        background-color: rgba(255, 255, 255, 0.07);
      }
    }
  }
}

.homepage-row {
  display: flex;
  @apply gap-4;

  &:empty {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .homepage-row {
    flex-direction: column;
  }
}

// Heatmap styles
.grid-container {
  display: grid;
  grid-template-columns: repeat(53, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 2px;
  max-width: 100%;
}
@media (max-width: 768px) {
  .grid-container {
    gap: 0px;
  }
}

.grid-item {
  border: 0.5px solid;
  border-radius: 3px;
  aspect-ratio: 1 / 1;
}

@media screen and (max-width: 768px) {
  .grid-item {
    border-radius: 1px;
  }
}
