/* adapted from https://github.com/kylefox/jquery-modal/blob/master/jquery.modal.css */
.blocker {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
.blocker.behind {
  background-color: transparent;
}

.modal {
  background-color: $white;
  box-shadow: var(--shadow-modal);
  padding: 2rem 1rem;
  border-radius: var(--radius-2xl);
  overflow: hidden;
  display: none;
  margin: auto;
  max-height: 92vh;
  vertical-align: middle;
  position: relative;
  z-index: 2;
  text-align: left;
  transform: scale(0.9);
  transition: transform 0.2s ease-in-out;

  .jquery-modal:not(:not([style*='opacity: 1'])) & {
    transform: scale(1);
  }

  &.modal--popover {
    position: absolute;
    right: 0px;
    transform: translateX(100%) scale(0.9);
    bottom: 0px;
    max-width: 800px;
    max-height: 100dvh;
    border-radius: 0rem;
    width: 66vw;
    transition: transform 0.2s;

    .jquery-modal:not(:not([style*='opacity: 1'])) & {
      transform: translateX(0%);
    }

    &.modal--popover--sm {
      max-width: 500px;
    }

    @media (min-width: 48em) {
      height: calc(100dvh - 24px);
      border-radius: var(--radius-xl);
      margin: 12px;
    }

    @media (max-width: 48em) {
      width: 100vw;
      max-width: 100vw;
      transform: translateX(0%);
      height: 80vh;
    }
  }

  &.modal--wide {
    width: 48rem;
    max-width: 95vw;
  }

  &.modal--huge {
    width: 100vw;
    max-width: 100vw;

    @media (min-width: 48em) {
      width: 70rem;
      max-width: 90vw;
    }
  }

  &.modal--flexible,
  &.modal--huge.modal--flexible,
  &.modal--wide.modal--flexible {
    width: auto;
  }

  @media (min-width: 32rem) {
    padding: 2rem;
    width: 36rem;
    max-width: 95vw;
    max-height: 85vh;

    &.modal--wide {
      width: 52rem;
      max-width: 95vw;
    }
  }

  @media screen and (max-width: 32em) {
    padding: 2rem 1rem 3rem;
    border-radius: 1rem 1rem 0 0;
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    border: 0;
    z-index: 999;
    max-width: 100vw;

    @supports (padding: calc(env(safe-area-inset-bottom))) {
      padding-bottom: calc(3rem + env(safe-area-inset-bottom));
    }

    &.modal--wide,
    &.modal--huge {
      max-width: 100vw;
    }
  }
}
.modal--scroll {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: 0 !important;

  header {
    background-color: $white;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1012;
    top: 0;
    margin: 0 -1rem 1rem;
    padding: 2rem 1rem 0.5rem;

    @media (min-width: 32em) {
      margin: 0 -2rem 1rem;
      padding: 2rem 2rem 0.75rem;
    }
  }

  &.bg-snow header {
    border-bottom: 0.5px solid rgba(48, 48, 48, 0.125);
  }

  &:not(.modal--popover) > footer,
  &:not(.modal--popover) > * > footer {
    background-color: $white;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1012;
    bottom: -3rem;

    margin: 1rem -1rem -3rem;
    padding: 0.75rem 1rem 0.75rem;

    @media (min-width: 32em) {
      bottom: calc(-2rem - 1px);
      margin: 1rem -2rem -2rem;
      padding: 0.75rem 2rem 0.75rem;
    }

    &.modal__action-row {
      padding: 18px 18px 18px;
    }
  }

  &.bg-snow footer {
    border-top: 0.5px solid rgba(48, 48, 48, 0.125);
  }
}

.modal__close {
  float: right;
  width: 32px;
  height: 32px;
  cursor: pointer !important;
  background-color: transparent !important;

  @media (min-width: 32em) {
    margin: -10px;
    margin-left: -15px;
  }

  @media screen and (max-width: 32em) {
    width: 40px;
    height: 40px;
    svg {
      transform: scale(1.25);
    }
  }
}

.modal__external {
  float: right;
  width: 32px;
  height: 32px;
  cursor: pointer !important;
  background-color: transparent !important;
  transform: translateX(-38px);

  @media (min-width: 32em) {
    margin: -10px;
    margin-right: -15px;
  }

  @media screen and (max-width: 32em) {
    width: 40px;
    height: 40px;
    transform: translateX(-18px);

    svg {
      transform: scale(1.25);
    }

    header:has(&) h2 {
      padding-right: 112px;
    }
  }
}

// NOTE: text for screenreader users to close modal. hidden onscreen
.close-modal {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
