.canceled-card-wrapper {
  margin: 0 auto;
  width: 100%;
  aspect-ratio: 364 / 224;
  max-width: 20rem;
  position: relative;
}

.stripe-card,
.emburse-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 364 / 224;
  max-width: 20rem;
  margin: 0 auto;
  padding: 1.5rem;
  position: relative;
  background-repeat: no-repeat;
  /* 120% to account for z-axis perspective */
  background-size: 120%;
  font-family: $mono;
  font-size: 1.25rem;
  color: $white;
  text-align: left;
  border-radius: 12px;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition: 0.25s ease-out transform;
  transform: scale(1);
  transform-style: preserve-3d;

  &.deactivated {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

  &.canceled-left {
    transform: translateX(-4px) scale(0.95) rotate(-1deg) !important;
    @supports (clip-path: polygon(0 0, 20% 0, 80% 100%, 0% 100%)) {
      position: absolute;
      left: 0;
      right: 0;
      clip-path: polygon(0 0, 20% 0, 80% 100%, 0% 100%);
    }
  }

  &.canceled-right {
    display: none;
    transform: translateX(4px) rotate(0.5deg) !important;
    @supports (clip-path: polygon(20% 0, 100% 0, 100% 100%, 80% 100%)) {
      position: absolute;
      left: 0;
      right: 0;
      display: flex;
      clip-path: polygon(20% 0, 100% 0, 100% 100%, 80% 100%);
    }
  }

  &:focus,
  &:hover {
    box-shadow:
      0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);
  }

  @media (max-width: 1024px) {
    & {
      margin: 0 auto;
    }
  }
}

.canceled-card-wrapper:hover .canceled-left,
.canceled-card-wrapper:hover .canceled-right {
  transform: none !important;
  &.canceled-right {
    transform: translateX(-1px) !important;
  }
  & .js-tilt-glare {
    display: none;
  }
}

@media (max-width: 600px) {
  .stripe-card,
  .emburse-card {
    max-width: 25rem;
  }
}

.emburse-card {
  background-color: #54d;
  background-image: radial-gradient(ellipse at top right, #867ae7, transparent);
  background-image:
    url('emburse-swoosh-plastic.svg'),
    radial-gradient(ellipse at top right, #867ae7, transparent);
  &:before {
    content: '';
    width: 10rem;
    height: 3rem;
    background: url('emburse-logo-plastic.svg');
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    flex: 1 1 auto;
    // transform: translateZ(20px);
  }

  &.virtual {
    background-image:
      url('emburse-swoosh-digital.svg'),
      radial-gradient(ellipse at top right, #867ae7, transparent);
    &:before {
      background: url('emburse-logo-digital.svg');
    }
  }

  &:not(.virtual):after {
    content: '';
    position: absolute;
    left: 2rem;
    top: 35%;
    height: 3.5rem;
    width: 3.5rem;
    background: url('emburse-chip.svg') no-repeat;
    background-size: contain;
    // transform: translateZ(10px);
  }
}

.stripe-card {
  overflow: hidden;
  background-repeat: repeat;
  background-color: #123;
  background-image: radial-gradient(ellipse at top left, #867ae7, transparent);
  &:focus,
  &:hover {
    box-shadow:
      0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);
  }

  &.frozen:before {
    content: '❄️';
  }

  &.frozen > .stripe-card__overlay:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('card-frost.png');
    opacity: 0.32;
    background-size: cover;
    z-index: 1;
  }

  &.frozen {
    filter: grayscale(0.23);
  }

  &.canceled {
    filter: grayscale(1);
  }

  &:before {
    content: '';
    width: 20rem;
    height: 3rem;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    flex: 1 1 auto;
    // transform: translateZ(20px);
  }

  &.virtual {
    background-image: radial-gradient(
      ellipse at top left,
      #33323d,
      transparent
    );
  }

  &.platinum {
    font-family: $font-family;
    background: linear-gradient(
      to bottom right,
      #808080,
      #ffffff 80%,
      #808080
    ) !important;
    color: rgba(0, 0, 0, 0.4);

    .badge {
      display: none;
    }

    .stripe-card__name {
      font-family: $font-family;
      text-transform: none;
    }
  }

  &:not(.virtual)::after {
    content: '';
    position: absolute;
    left: 2rem;
    top: 35%;
    height: 3.5rem;
    width: 3.5rem;
    background: url('emburse-chip.svg') no-repeat;
    background-size: contain;
    mix-blend-mode: add;
  }
}

.emburse-card__name,
.stripe-card__name {
  text-transform: uppercase;
  font-weight: bold;
}

.emburse-card__name,
.stripe-card__name,
.emburse-card__number,
.stripe-card__number {
  margin-top: 0;
  margin-bottom: 0;
}

.stripe-card__status {
  background-color: rgba(255, 255, 255, 0.2);
}

.stripe-card__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.stripe-card--white {
  background-image: none;
  background-color: #fff;
  color: #000;
  img {
    filter: grayscale(1);
  }
  .stripe-card__status {
    color: #000 !important;
    background-color: rgba(0, 0, 0, 0.05);
  }
  .stripe-card__overlay {
    background-image: radial-gradient(
      ellipse at bottom right,
      #ddddef49,
      transparent
    );
  }
}

.stripe-card--black {
  background-image: none;
  background-color: #000;
  color: #fff;
  img {
    filter: invert(1) grayscale(1);
  }
  .stripe-card__overlay {
    background-image: radial-gradient(
      ellipse at bottom right,
      #4a4a4f49,
      transparent
    );
  }
  .stripe-card__personalization_inner_image_wrapper {
    filter: drop-shadow(1em 0 0px #fff);
  }
}

.stripe-card__personalization-image {
  height: 40px;
  width: 100px;
  object-position: center right;
  object-fit: contain;
  position: absolute;
  right: 0;
}

.stripe-card__personalization_image_wrapper {
  font-size: 100px;
  height: 1em;
  width: 1em;
  overflow: hidden;
  display: inline-flex;
}

.stripe-card__personalization_inner_image_wrapper {
  display: flex;
  height: 1em;
  width: 1em;
  position: relative;
  left: -1em;
  filter: drop-shadow(1em 0 0px #000);
}
