@import '../variables';

.promo-pvsa {
  background: repeating-linear-gradient(
    135deg,
    #eee 0%,
    white 40%,
    #3c3b6e 40%,
    #3c3b6e 65%,
    #b22234 65%,
    #b22234 70%,
    white 70%,
    white 75%,
    #b22234 75%,
    #b22234 80%,
    white 80%,
    white 85%,
    #b22234 85%,
    #b22234 90%,
    white 90%,
    #eee 100%
  );
}

.promo-domains {
  background-color: #f5f5f5;
  background-image:
    linear-gradient(
      to right,
      rgba(245, 246, 252, 0.25),
      rgba(248, 248, 248, 0.05)
    ),
    url('https://cdn.hackclub.com/rescue?url=https://hc-cdn.hel1.your-objectstorage.com/s/v3/9f6ee44cdba626bd_image.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.promo-stickerninja {
  background-color: #f5f5f5;
  background-image:
    linear-gradient(
      to right,
      rgba(245, 246, 252, 0.25),
      rgba(248, 248, 248, 0.05)
    ),
    url('https://cdn.hackclub.com/rescue?url=https://hc-cdn.hel1.your-objectstorage.com/s/v3/224addd545122d7d_image.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.promo-stickers {
  background-image:
    linear-gradient(to right, rgba(20, 20, 20, 0.3), rgba(248, 248, 248, 0.05)),
    url('https://cdn.hackclub.com/rescue?url=https://hc-cdn.hel1.your-objectstorage.com/s/v3/33ca4b940f79ee22_image.png');
  background-size: cover;
  background-position: 0% 30%;

  .sticker {
    transform: rotate(20deg);
    transition-duration: 0.125s;

    &.wide {
      transform: rotate(-15deg);
    }

    &:hover {
      transition: 0.2s ease-in-out;
      transform: scale(1.3);
    }
  }
}

.promo-1password {
  background-color: $blue;
  background-image: url('https://cdn.hackclub.com/rescue?url=https://hc-cdn.hel1.your-objectstorage.com/s/v3/3a15d06bf9df8750_yeah.svg');
  background-position-x: right;
  background-size: 60%;
  background-repeat: no-repeat;
}

.promo-hackathons-page {
  background-image:
    linear-gradient(to right, rgba(20, 20, 20, 0.3), rgba(248, 248, 248, 0.05)),
    url('https://cdn.hackclub.com/rescue?url=https://hc-cdn.hel1.your-objectstorage.com/s/v3/8c401650b4f472f22eb9048d6b75b351ef562957_image.png');
  background-size: cover;
  background-position: 0% 55%;
}

.promo-event-helper {
  background-color: rgb(238, 188, 36);
  color: black;
}

.promo-sendy {
  background-color: #8492a6;
  background-image: url('https://cdn.hackclub.com/rescue?url=https://hc-cdn.hel1.your-objectstorage.com/s/v3/72c83255c96248eb_yeah.svg');
  background-repeat: repeat;
  background-size: 500px auto;
}

.promo-wallets {
  background-color: #bfe595;
  background-image: url('https://cdn.hackclub.com/rescue?url=https://hc-cdn.hel1.your-objectstorage.com/s/v3/b53a74cad4b022cd_amaziograph_c0634a90-37b4-42a9-9986-9d1495a3f33d_1__traced___1_.svg');
  background-repeat: repeat;
  background-size: 500px auto;
}

.promo-hackathon-grant {
  border: 2px solid $red;

  .card__banner--top {
    background-image:
      linear-gradient(to right, $dark 10%, transparent),
      url('https://cdn.hackclub.com/rescue?url=https://hc-cdn.hel1.your-objectstorage.com/s/v3/c8a65fd0a31eda8c_image.png');
    background-size: cover;
    background-position: left center;
  }
}

.promo-bin {
  .card__banner--top {
    h3 {
      color: #363a44 !important;
    }

    background-image: url('https://cdn.hackclub.com/rescue?url=https://hc-cdn.hel1.your-objectstorage.com/s/v3/191f0894c4e7bd84_image.png');
    background-size: cover;
    background-position: left center;
  }
}

.promo-onboard {
  .card__banner--top {
    background-image: url('https://cdn.hackclub.com/rescue?url=https://hc-cdn.hel1.your-objectstorage.com/s/v3/c67ea255716a7d87_image.png');
    background-size: cover;
    background-position: center;
  }
}

.promo-robotics {
  .card__banner--top {
    background-color: #ff0000;
    background-image:
      linear-gradient(to right, rgba(0, 38, 255, 0.25), rgba(255, 0, 0, 0.05)),
      url('https://cdn.hackclub.com/rescue?url=https://hc-cdn.hel1.your-objectstorage.com/s/v3/3f1f414fcaec2dc9b09025d1b571b6434a47d3bc_event-experience.jpg');
    background-size: cover;
    background-position: center;
  }
}

.promo-jukebox {
  .card__banner--top {
    background-image: url('https://cdn.hackclub.com/rescue?url=https://hc-cdn.hel1.your-objectstorage.com/s/v3/12731aa3617060c36f265d53a2f5f4bb4034f0e6_gemini_generated_image_buc4z9buc4z9buc4.png');
    background-size: cover;
    background-position: center;
  }
}

.promo-robotics-raffle {
  background-color: #0066b3;

  .card__banner--top {
    background-color: #0066b3;
  }
}

.promo-pins-keychains {
  .card__banner--top {
    background-image: url('https://cdn.hackclub.com/019c2a0e-ad2d-725c-813f-c4b17eeea30f/pins-keychains.png');
    background-size: cover;
    background-position: center;
  }
}

.promo-premium-domains {
  .card__banner--top {
    background-image: url('https://cdn.hackclub.com/rescue?url=https://hc-cdn.hel1.your-objectstorage.com/s/v3/877a06f491c85b15_943ff1edeafaab2f39a66a97b7207f047de2647d_frame_2__4__1.png');
    background-size: cover;
    background-position: center;
  }
}

@property --scroll-progress {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
}

.promo-premium-header {
  background: linear-gradient(-60deg, #ec3750, #ff8c37, #ec3750);
  background-size: 200%;
  animation: premium-scroll-gradient linear;
  animation-timeline: scroll(root);
  background-position: 0% center;

  .badge {
    background-color: rgba(100, 111, 126, 0.7) !important;
    color: map-get($palette, smoke) !important;
  }
}

@keyframes premium-scroll-gradient {
  0% {
    background-position: 0% center;
  }

  100% {
    background-position: 200% center;
  }
}

html[data-dark='true'] {
  .promo-premium-banner {
    background-color: $dark;
  }

  .promo-bin {
    .card__banner--top {
      h3 {
        color: #fff !important;
      }

      background-image: url('https://cdn.hackclub.com/rescue?url=https://hc-cdn.hel1.your-objectstorage.com/s/v3/30489301cc0cd8d4_image.png');
    }
  }

  .promo-pvsa {
    background: repeating-linear-gradient(
      135deg,
      #8492a6 0%,
      #8492a6 40%,
      #3c3b6e 40%,
      #3c3b6e 65%,
      #b22234 65%,
      #b22234 70%,
      #8492a6 70%,
      #8492a6 75%,
      #b22234 75%,
      #b22234 80%,
      #8492a6 80%,
      #8492a6 85%,
      #b22234 85%,
      #b22234 90%,
      #8492a6 90%,
      #8492a6 100%
    );
  }

  .promo-domains {
    background-color: #363a44;
    color: white;
  }

  .promo-stickerninja {
    background-color: #363a44;
    color: white;
  }

  .promo-stickers {
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .promo-1password {
    background-color: $black;
  }

  .promo-event-helper {
    background-color: rgba(39, 110, 87, 0.732);
  }

  .promo-sendy {
    background-color: #343a44;
  }

  .promo-wallets {
    background-color: #768c5d;
  }
}

.list-plus::marker {
  content: '+ ';
}
