.step-tab {
  @apply flex gap-2 items-center justify-center py-2 ml-0 dark:text-neutral-400 dark:border-gray-400;

  &:first-child {
    margin-left: 0 !important;
  }

  .step-tab__number {
    @apply w-7 h-7 rounded-full flex items-center justify-center text-xs font-bold;
    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.1);

    html[data-dark='true'] & {
      border-color: darken(map-get($palette, muted), 30%);
    }
  }

  &.active .step-tab__number {
    border-color: $blue !important;
  }

  &.step-tab--full {
    cursor: pointer;
    white-space: nowrap;
    padding: 0.3rem 0.5rem;
    border-radius: 0.375rem;
    color: $muted;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.03);
    transition-duration: 0s;
  }

  &:active {
    background: rgba(0, 0, 0, 0.05);
  }

  &.active.step-tab--full {
    color: $blue !important;
  }
}
