.stat {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-variant-numeric: tabular-nums;

  @media (max-width: 56em) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.stat__value {
  white-space: nowrap;
  font-size: 2rem;
  line-height: 1;
  margin: 0; // reset browser default on <dd>
  font-weight: 600;
  --unit: '$';

  @media (max-width: 56em) {
    font-size: 1.5rem;
  }
}

.stat:not(.stat--plain) .stat__value:before {
  content: var(--unit);
}

.stat__value--no-space:before {
  margin-right: -5px;
}

.stat__label {
  display: block;
  opacity: 0.75;
  font-weight: 800;
  white-space: nowrap;
}

.stat--small {
  .stat__label {
    opacity: 0.6;
  }

  .stat__value {
    font-weight: 400;
    opacity: 0.85;
  }
}

// Set of 4 stats, like the main event & invoices pages
.statset {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;

  [data-dark='true'] & {
    background-color: var(--darker);
  }

  box-shadow: var(--shadow-border-sm);
  border-radius: var(--radius-md);
  text-align: center;

  @media (max-width: 56em) {
    flex-direction: column;
  }
}

@media screen and (min-width: 24em) and (max-width: 56em) {
  // "aux" stats are small & go the right of the first, large stat
  .statset__aux {
    grid-row: 1;
    grid-column: 2;
  }

  // wide stats for long numbers
  .statset__wide {
    grid-column: span 2;
  }
}
