.swal-overlay {
  .swal-modal {
    border-radius: var(--radius-2xl);
    box-shadow: var(--shadow-modal);

    font-family: inherit;

    .swal-icon {
      margin: 0px !important;
      transform: scale(0.5);
      position: absolute;
      top: 0;
      right: 0;
    }

    [data-dark='true'] & {
      background-color: $darkless;
      color: map-get($palette, smoke);

      .swal-icon--success:after,
      .swal-icon--error:after,
      .swal-icon--success:before,
      .swal-icon--error:before,
      .swal-icon--error__hide-corners,
      .swal-icon--success__hide-corners {
        background-color: $darkless;
      }
    }
  }

  .swal-title {
    color: inherit;
    padding: 20px !important;
    padding-bottom: 10px !important;
    text-align: left;
    margin-bottom: 0px;
    margin: 0 !important;
  }

  .swal-text {
    width: 100%;
    color: inherit;
    opacity: 0.8;
  }

  .swal-footer {
    padding: 13px !important;
    background-color: transparent;
  }

  .swal-button {
    @extend .btn;
  }

  .swal-button--confirm {
    @extend .bg-blue;
  }
}

.swal-overlay--show-modal .swal-modal {
  animation: none;
}
