<p>Hi there,</p>

<p>
  We've received your request for an onboarding call for <%= @event.name %>.
  A member of our team will reach out to schedule a call soon!
</p>

<p>
  From,<br>
  The HCB Team
</p>
