<p>Hi there! 👋</p>

<p>
  You've been invited to sign a contractor agreement for <%= @contract.event_name %> on HCB.
</p>

<p>
  <%= link_to "Click here", contract_party_url(@party) %> to review and sign your agreement.
</p>

<p>
  If you have any questions, we're here to help! Just reply to this email or reach out to <%= link_to "hcb@hackclub.com", "mailto:hcb@hackclub.com" %>.
</p>

<p>
  Best,<br>
  The <%= link_to "HCB", "https://hackclub.com/hcb?utm_source=hcb&utm_medium=email" %> Team
</p>
