@import 'variables';

$dark: #17171d;
$darker: #121217;
$darkless: #252429;

html[data-dark='true'] {
  color-scheme: dark;

  body {
    background-color: $dark;
    color: map-get($palette, smoke);
    color-scheme: dark;
    --bg-color: var(--dark);
    --shadow-border: inset 0 0 0 0.5px rgba(255, 255, 255, 0.25);
    --shadow-sm: 0 2px 2px rgba(0, 0, 0, 0.04);
    --shadow-border-sm: var(--shadow-border), var(--shadow-sm);
    --shadow-border-md: var(--shadow-border), var(--shadow-md);
    --shadow-border-lg: var(--shadow-border), var(--shadow-lg);
  }

  input[type='date'],
  input[type='email'],
  input[type='number'],
  input[type='password'],
  input[type='search'],
  input[type='tel'],
  input[type='text'],
  input[type='url'],
  select,
  .input,
  textarea {
    color: map-get($palette, white);
    border-color: rgba(255, 255, 255, 0.1);
    border-width: 0.5px;

    &:focus-within {
      border-color: map-get($palette, info);
    }

    &::placeholder {
      color: map-get($palette, muted);
    }
    &::-moz-placeholder {
      color: map-get($palette, muted);
    }
  }

  h1,
  h2,
  .heading,
  .details > p,
  .details > div,
  .details__row,
  .border,
  .border-color,
  .border-top,
  .border-right,
  .border-bottom,
  .border-left,
  .details-horiz > p:not(:last-of-type),
  .details-horiz > div:not(:last-of-type),
  .details-horiz > .details-horiz__col,
  tr {
    border-color: rgba(255, 255, 255, 0.125);
  }
  tr.transaction--positive,
  tr.transaction--negative {
    border-color: rgba(255, 255, 255, 0.125);
  }
  .menu__toggle[aria-expanded='true']:after {
    border-bottom-color: $darkless;
  }
  .list > a > li,
  .list > li {
    border-bottom-color: $darkless;
  }

  hr {
    border-color: map-get($palette, black);
  }

  .details {
    hr {
      border-color: map-get($palette, slate);
    }
  }

  label,
  .menu__content > a,
  .menu__action {
    color: map-get($palette, smoke);
  }
  .menu__content > a,
  .menu__action {
    & svg {
      fill: map-get($palette, muted);
    }

    &:hover,
    &.hovered {
      background-color: $dark;
    }
  }
  tr a,
  .secondary,
  .details > p strong,
  .details > div strong,
  .details__row strong,
  .details-horiz strong {
    color: map-get($palette, muted);
  }
  .menu__content hr {
    border-color: $dark;
  }
  .menu__toggle[aria-expanded='true']:before {
    border-bottom-color: $darker;
  }

  .flash {
    border: 0;
  }

  .menu__content {
    input[type='date'],
    input[type='email'],
    input[type='number'],
    input[type='password'],
    input[type='search'],
    input[type='tel'],
    input[type='text'],
    input[type='url'],
    .input,
    select,
    textarea {
      background: $dark;
      border-color: $dark;
    }
  }

  .retrofees,
  .card,
  .menu__content,
  .modal {
    --card-bg: #252429;
    background-color: $darkless;
  }
  .modal--scroll.bg-snow {
    background-color: $dark;
  }

  .pinned__transaction.bg-smoke {
    background-color: $darkless;
  }

  .modal--scroll header,
  .modal--scroll:not(.modal--popover) > footer,
  .modal--scroll:not(.modal--popover) > * > footer {
    background-color: $darkless;
  }
  .mini-calendar strong {
    background-color: map-get($palette, smoke);
    color: map-get($palette, black);
  }

  .modal,
  .menu__content {
    box-shadow:
      -2px -4px 8px rgba(0, 0, 0, 0.125),
      4px 8px 16px rgba(0, 0, 0, 0.25);
  }

  .card {
    h1,
    h2,
    .heading,
    .details > p,
    .details > div,
    .details__row {
      border-color: map-get($palette, black);
    }

    input[type='date'],
    input[type='email'],
    input[type='number'],
    input[type='password'],
    input[type='search'],
    input[type='tel'],
    input[type='text'],
    input[type='url'],
    .input,
    select,
    textarea {
      background: $dark;
      border-color: $dark;
      &:focus-within {
        border-color: map-get($palette, info);
      }
    }

    pre {
      background-color: $dark;
    }
    &.b--warning {
      border-color: rgba(map-get($palette, warning), 0.375);
    }

    &.b--info {
      border-color: rgba(map-get($palette, info), 0.375);
    }

    &.b--success {
      border-color: rgba(map-get($palette, success), 0.375);
    }

    &.b--primary {
      border-color: rgba(map-get($palette, primary), 0.375);
    }
  }

  .black,
  .dock__item,
  label,
  a > .card {
    color: map-get($palette, smoke);
  }

  .dock__item.disabled {
    color: map-get($palette, muted);
  }
  .dock__item[aria-current='page'] {
    background-color: rgba(map-get($palette, primary), 0.2);

    &:hover {
      background-color: rgba(map-get($palette, primary), 0.25);
    }
    &:active {
      background-color: rgba(map-get($palette, primary), 0.3);
    }
  }

  pre,
  .transparency-banner {
    background-color: $darker;
    color: map-get($palette, muted);
  }

  .card__darker {
    background: lighten($darkless, 7%);
    color: map-get($palette, muted) !important;
  }

  .card.card--sunken {
    box-shadow: none;
    background-color: rgba(map-get($palette, dark), 0.5);
  }

  .admin-tools::before {
    background-color: rgba(map-get($palette, warning), 0.0625);
  }

  .dev-tools {
    background-color: rgba(map-get($palette, success), 0.0625);
  }

  .comments .card.current-user {
    background-color: mix($darkless, map-get($palette, info), 90%);
  }

  .comments .card.comment--admin {
    border: 1px dashed map-get($palette, warning);
    background-color: mix($darkless, map-get($palette, warning), 90%);
  }

  .card__banner.bg-success,
  .transaction--positive {
    background-color: rgba(map-get($palette, success), 0.25);
  }

  .card__banner.bg-error,
  .transaction--negative {
    background-color: rgba(map-get($palette, error), 0.25);
  }

  .shade-neutral,
  .transaction--zero {
    background-color: $darkless;
  }

  .shade-yellow {
    background-color: rgba(map-get($palette, pending), 0.125);
  }

  .card--sunset {
    background-image: url('https://cdn.hackclub.com/rescue?url=https://hc-cdn.hel1.your-objectstorage.com/s/v3/cc0d90d3c01af31f_image.png');
  }

  .badge {
    color: map-get($palette, muted);
  }
  .badge.bg-info {
    color: map-get($palette, info);
  }
  .badge.bg-accent {
    color: map-get($palette, accent);
  }
  .badge.bg-success {
    color: map-get($palette, success);
  }
  .badge.bg-warning {
    color: map-get($palette, warning);
  }
  .badge.bg-purple {
    background-color: rgba(map-get($palette, purple), 0.125);
    color: map-get($palette, purple);
  }
  .badge.bg-error {
    background-color: rgba(map-get($palette, error), 0.3);
    color: map-get($palette, primary);
  }
  .badge.archived {
    background-color: rgba(map-get($palette, pending), 0.625);
    border: none;
    color: map-get($palette, pending);
  }
  .list-badge {
    background-color: rgba(0, 0, 0, 0.125);
  }

  .dock__item:hover {
    background-color: rgba(255, 255, 255, 0.05);
    &:active {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
  .filterbar__item:hover,
  .filterbar__item:focus {
    outline: none;
    background-color: $darkless;
    color: map-get($palette, muted);
  }

  .filterbar__item[aria-selected='true'] {
    background-color: $darkless;
    color: map-get($palette, smoke);
  }
  .badge.bg-info,
  .flash.info,
  .pop.info {
    background-color: rgba(map-get($palette, info), 0.2);
  }

  .badge.bg-snow {
    background-color: rgba(map-get($palette, white), 1);
    color: black;
  }

  .flash.accent,
  .badge.bg-accent,
  .pop.accent {
    background-color: rgba(map-get($palette, accent), 0.2);
  }

  .flash.success,
  .badge.bg-success,
  .pop.success {
    background-color: rgba(map-get($palette, success), 0.2);
  }

  .success-dark {
    color: map-get($palette, success);
  }

  .flash.warning,
  .badge.bg-warning,
  .pop.warning {
    background-color: rgba(map-get($palette, warning), 0.3);
  }

  .flash.muted,
  .badge,
  .pop,
  .badge.bg-muted,
  .pop.muted {
    background-color: rgba(map-get($palette, muted), 0.2);
  }
  .pop {
    color: lighten(map-get($palette, muted), 20%);
  }
  .flash.error,
  .error-card,
  .badge.bg-error,
  .pop.error {
    background-color: rgba(map-get($palette, error), 0.3);
  }

  .error {
    color: map-get($palette, error-light);
  }

  .banner--archived {
    background-color: rgba(map-get($palette, pending), 0.125);
    border-color: rgba(map-get($palette, pending), 0.625);
    color: map-get($palette, smoke);
  }

  pre.bg-smoke {
    background: $darkless;
    color: map-get($palette, white);
  }

  .bg-smoke-important {
    background: $darkless !important;
    color: map-get($palette, white);
  }

  .logo {
    display: none;
  }

  .logo-dark {
    display: block;
  }

  /* Styles the auto-generated phone no. country code drop down on user edit page */
  .iti__country {
    background-color: $darkless;

    &:hover {
      background-color: $slate;
    }
  }

  .iti__divider {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .loader {
    background-color: $dark;
  }

  .dino-svg {
    filter: invert(88%) sepia(100%) saturate(2%) hue-rotate(187deg)
      brightness(110%) contrast(97%);
  }

  .file-dropzone {
    background-color: rgba($darkless, 0.8);
  }

  .stripe-card__status {
    color: #fff;
  }

  .menu__content input[type='text'] {
    font-size: inherit !important;
    padding: 0.25rem 0.5rem !important;
    min-height: 0;
    font-weight: 500;
    color: map-get($palette, snow);

    &::placeholder {
      font-weight: 500;
    }

    &:not(:focus)::placeholder {
      opacity: 1;
      color: map-get($palette, snow);
    }

    &:focus {
      background: $darker;
    }

    &:not(:focus) {
      cursor: pointer;
      border-color: transparent;
    }

    &:hover:not(:focus) {
      @include gradient(info);
    }
  }

  .mention-suggestions {
    border: 1px solid map-get($palette, slate);
  }

  .transaction--positive > td > span > span > span.success-dark.medium {
    font-weight: 400;
  }

  .recharts-rectangle.recharts-tooltip-cursor {
    opacity: 0.2;
  }

  #card-pin {
    color: #1f2d3d !important;
    filter: invert(1);
  }
}
