<% what_is_today = Date.today.weekday? ? "a holiday" : "the weekend" %>

<% unless Date.today.workday? %>
  <%= render "application/callout", type: "warning", title: "Banks are closed", class: "mt-2 mb-0" do %>
    It is currently <%= what_is_today %> and all financial institutions are closed.
    Transfers will be reviewed on the <span class="tooltipped" aria-label="<%= Time.first_business_day(Date.today).strftime("%b %e, %Y") %>">next business day</span>.
  <% end %>
<% end %>
