
<div data-controller="menu" data-menu-placement-value="top-end">
  <a
    type="button"
    class="w-8 h-8 relative menu__action muted tooltipped tooltipped--n p-0 justify-center"
    aria-label="Get help"
    id="intercom-trigger">
    <%= inline_icon "question-mark", size: 18, style: "width:18px" %>
  </a>
</div>
<script>
  const intercomTrigger = document.getElementById('intercom-trigger');

  if(document.documentElement.clientWidth >= 1024)
  window.addEventListener("load", () => {
    window.Beacon('config', {
      display: {
        position: 'left',
        horizontalOffset: intercomTrigger.getBoundingClientRect().left,
        verticalOffset: document.documentElement.clientHeight - intercomTrigger.getBoundingClientRect().bottom + 25,
      }
    });
  })
</script>
