<%# locals: (top: false) %>
<p class="muted font-medium h5 pl-2 p-1 m0">Theme</p>
<div class="flex items-center">
  <a data-dark-mode-toggle-target="toggle" data-value="system" class="menu__action flex-1 justify-center items-center">
    System
  </a>
  <a data-dark-mode-toggle-target="toggle" data-value="dark" class="menu__action flex-1 justify-center items-center">
    Dark
  </a>
  <a data-dark-mode-toggle-target="toggle" data-value="light" class="menu__action flex-1 justify-center items-center">
    Light
  </a>
</div>
