<%# locals: (number:, label:, hidden: false, data: {}, current: nil, seek: true) %>

<% active = current.nil? ? (number == 1) : current %>
<%= content_tag :div, class: "step-tab step-tab--full justify-start py-1 #{"active" if active}", hidden:, data: (seek ? data.merge("scroll-seek-target": "tab") : data) do %>
  <div class="step-tab__number"><%= number %></div>
  <span><%= label %></span>
<% end %>
