<%# locals: (number:, label:, hidden: false, data: {}) %>

<%= content_tag :div, class: "step-tab step-tab--full justify-start py-1 #{"active" if number == 1}", hidden:, data: data.merge("scroll-seek-target": "tab") do %>
  <div class="step-tab__number"><%= number %></div>
  <span><%= label %></span>
<% end %>
