<%# locals: (number:, label:) %>

<div class="step-tab step-tab--full justify-start py-1 <%= "active" if number == 1 %>" data-scroll-seek-target="tab">
  <div class="step-tab__number"><%= number %></div>
  <span><%= label %></span>
</div>
